.heading {
  margin: 16px 0 8px 0;
}

.wrapper--message-newsletter {
  margin-top: 16px;

  .paragraph--message-newsletter {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    color: $color-white;
    margin-bottom: 0;
  }
}

.paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: $color-gray6;
  line-height: 24px;
  font-weight: 400;
  @include mq(sm, max) {
    font-size: 16px;
  }
}

.container--title-newsletter {
  justify-content: center;
  width: 100%;
  margin: 32px 0 16px 0;
  padding: 0 40px;
  @include mq(md, max) {
    margin: 64px 0 16px 0;
  }
  @include mq(sm, max) {
    padding: 0;
  }
  .wrapper--title-newsletter {
    align-items: center;
    .paragraph--title-newsletter {
      margin: 0;
      font-weight: 400;
      font-size: 24px;
      line-height: 38px;
      color: $color-white;
    }
  }
}

.wrapper--email-phrase-newsletter {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 40px;
  @include mq(sm, max) {
    padding: 0;
  }
  .wrapper--email-phrase-newsletter {
    display: flex;
    align-items: center;
    .paragraph--email-phrase-newsletter {
      margin: 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: $color-gray6;
      @include mq(md, max) {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
